<launch>

  <arg name="tty" default="/dev/ttyACM0" />
  <!-- arg name="tty" default="/dev/ttyAMA0" -->
  <!-- The number of encoder ticks per meter.
    d = 0.060  wheel diameter
    revolutions/meter = 1/(d*3.14159)
    gear ratio = 46.8512 : 1 (from Pololu web site)
    ticks/revolution = gear ratio * 48 cpr = 1124.43
    ticks per meter = ticks/revolution * revolutions/meter = 5965.29
  -->
  <!-- <arg name="ticks_per_meter" value="5965" /> -->
  <!-- changed for 70 mm wheel dia -->
  <!-- changed ticks_per_meter from 10226 -->
  <arg name="ticks_per_meter" value="5113" />

  <!-- Wheel separation, in meters. -->
  <!--  <arg name="wheel_separation" value=".203" />  -->
  <!-- changed for my wheel separation -->
  <arg name="wheel_separation" value=".160" />


  <!-- PID control parameters.

    These were determined using the Ziegler-Nichols method by increasing
    the proportional constant (Ku) until oscillation occurred and measuring
    the oscillation period (Tu).

    Ku = 0.19
    Tu = 0.23
    Kp = 0.6*Ku = 0.114
    Ki = 2*Kp/Tu = 0.9
    Kd = Kp*Tu / 8 = 0.002976;
  -->
  <arg name="Kp" value="0.114" />
  <arg name="Ki" value="0.9" />
  <arg name="Kd" value="0.002976" />

<!--  <param name="ticks_meter" value="$(arg ticks_per_meter)" />  -->

<!--
  <node name="joystick" pkg="differential_drive" type="virtual_joystick.py">
    <param name="publish_" value="100" />
    <param name="x_min" value="-1.0" />
    <param name="x_max" value="1.0" />
    <remap from="twist" to="cmd_vel" />
  </node>
-->

  <node name="twist_to_motors" pkg="differential_drive" type="twist_to_motors.py">
    <param name="base_width" value="$(arg wheel_separation)" />
    <param name="rate" value="10" />
    <remap from="twist" to="cmd_vel" />
  </node>

  <node name="tf_publisher" pkg="differential_drive" type="diff_tf.py">
    <param name="base_width" value="$(arg wheel_separation)" />
  </node>

  <node name="romeo" pkg="rosserial_python" type="serial_node.py">
    <param name="baud" value="115200" />
    <param name="port" value="$(arg tty)" />
    <param name="control_rate" value="60" />
    <param name="vtarget_timeout" value="0.3" />
    <param name="Kp" value="$(arg Kp)" />
    <param name="Ki" value="$(arg Ki)" />
    <param name="Kd" value="$(arg Kd)" />
    <param name="ticks_meter" value="$(arg ticks_per_meter)" />
  </node>

</launch>
